.footer{
    width: 100%;
    min-width: 1300px;
    height: 300px;
    margin: 0 auto;
    background: url(../images/di.png) top center no-repeat;
}
.footer-bor{
    padding-top:175px;
    text-align: center;
    color:#404040;
    margin:  0 auto;
}
.a>a{
    line-height: 2.5em;
    font-size: 15px;
}