.footer{
    height: 250px;;
    width: 100%;
    min-width: 1300px;;
    margin: 0 auto;
    overflow: scroll;
    background: url(../images/di.png) top center;
}
.footer-bor{
    text-align: center;
    color:#404040;
    width: 550px;
    margin: 153px auto 50px auto;
}
.footer-bor>.a>a{
    line-height: 3em;
    font-size: 15px;
}