.input{
    background: url(../images/2.png) top center no-repeat;
    width: 100%;
    min-width: 1300px;
    /* height: 700px; */
    margin: -100px auto 0 auto; 
}
.name{
    padding-top:180px;
    justify-content: center;
    display: flex;
}
.danchengname>p{
    margin-right: 320px;
    display: block;
    font-size: 30px;
    text-align: center;
}
.wangfanname>p{
    display: block;
    font-size: 30px;
    text-align: center;
}
.input-z{
    margin-top:100px;
    width: 100%;
    min-width: 1300px;
    /* justify-content: center;
    display: flex; */
}
.input-dancheng{
    height: 250px;
    width: 324px;
    margin: 0 auto;
}
.input-dancheng p{
    font-size: 20px;
    margin: 30px 0;
}
.input-dancheng>form input{
    width: 230px;
    height: 30px;
    border-radius: 5px; 
    border:1px #b3afaf solid;
}
.input-dancheng>form>p:last-child input{
    height: 18px;
    width: 20px;
}
.input-wangfan{
    height: 250px;
    width: 324px;
    margin: 0 auto;
    display: none;
}
.input-wangfan p{
    font-size: 20px;
    margin: 30px 0;
}
.input-wangfan>form input{
    width: 200px;
    height: 30px;
    border-radius: 5px; 
    border:1px #b3afaf solid;
}
.input-wangfan>form>p:last-child input{
    height: 18px;
    width: 20px;
}
.tijiao{
    width: 130px;
    margin: 120px auto 0 auto;
}
.tijiao>p{
    width: 104px;
    display: block;
    margin: 0 auto;
}
.tijiao>p input{
    height: 16px;
    margin: 30px auto;
}
.tijiao>label{
    width: 110px;
    margin: 10px auto;
    font-size: 30px;
}
.tijiao >label>input{
    position: relative;
    top: 8px;
    height: 40px;
}


