.input{
    width: 100%;  
}
.input-z{
    display: flex;
    justify-content: center;
}
.dancheng{
    margin-right: 200px;
}
.danchengname>p{
    font-size: 30px;
    text-align: center;
}
.danchengname{
    margin: 0 auto 100px auto;
}
.input-dancheng p{
    font-size: 20px;
    margin: 30px auto;
    text-align: center;
}
.input-dancheng label{
    text-align: center;
}
.input-dancheng  input{
    width: 200px;
    height: 30px;
}
.wangfanname>p{
    font-size: 30px;
    text-align: center;
}
.wangfanname{
    margin-bottom:100px;
}
.input-wangfan p{
    font-size: 20px;
    margin: 30px auto;
    text-align: center;
}
.input-wangfan label{
    text-align: center;
}
.input-wangfan   input{
    width: 200px;
    height: 30px;
}


